* {
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

h4 {
	all: unset;
	display: block;
}

h3, p {
	display: inline;
}

iframe {
  pointer-events: none;
	margin-top: 10px;
}

button {
  cursor: pointer;
}

.js-results {
  border: 1px solid #484848;
  border-radius: 15px;
  box-shadow:0 2px 6px;
  justify-content: center;
  resize: both;
  overflow: auto;
  align-items: center;
  opacity: .85;
  text-align: center;
  width: 90%;
  margin: auto;
  background-color: white;
}

.js-results-text {
	padding: .2em;
	margin: .2em 0;
}

.restart-btn {
  border-radius: 10px;
  border: 1px solid white;
  color: white;
	margin-top: 1em ;
  background-image:
  linear-gradient(
      to right,
      blue,
      red
      );
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;

}
.js-results-gif {
  margin: 30px auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.js-results-gif > img {
  width: 100%;
}

.txt-center {
	text-align: center
}
